[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Otohits
Name[en_US]=Otohits
Exec=/OtohitsApp/OtohitsApp
Comment[en_US]=Otohits surfer
StartupNotify=true
